.horse-container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  .horse {
    font-size: 23rem;
    display: flex;
    justify-content: flex-end;
    animation: horsey 3s infinite;
  }
  @keyframes horsey {
    0% {
      margin-right: 0;
    }
    49% {
      margin-right: 48%;
      transform: scaleX(1);
    }
    50% {
      transform: scaleX(-1);
    }
    51% {
      transform: scaleX(-1);
      margin-left: 0;
    }
    100% {
      margin-left: 48%;
      transform: scaleX(-1);
    }
  }
}
